aioredis
asgiref
async-timeout
attrs
autobahn
Automat
bcrypt
black
blessed
boto3
botocore
cached-property
cement
certifi
cffi
channels
channels-redis
charset-normalizer
click
colorama
constantly
cryptography
daphne
dj-database-url
Django
django-cors-headers
django-dotenv
django-heroku
django-model-utils
django-storages
djangorestframework
djangorestframework-simplejwt
docker
docker-compose
dockerpty
docopt
Faker
flake8
flake8-black
future
gunicorn
hiredis
hyperlink
idna
incremental
jmespath
jsonschema
mccabe
msgpack
mypy-extensions
paramiko
pathspec
Pillow
platformdirs
# psycopg2
psycopg2-binary
pyasn1
pyasn1-modules
pycodestyle
pycparser
pyflakes
PyJWT
PyNaCl
pyOpenSSL
pyrsistent
python-dateutil
pytz
# PyYAML
requests
s3transfer
semantic-version
service-identity
shortuuid
six
sqlparse
termcolor
texttable
tomli
Twisted
txaio
typing_extensions
urllib3
wcwidth
websocket-client
whitenoise
zope.interface